# Ignorar arquivos de dependências do Node.js
node_modules/
package-lock.json

# Ignorar o arquivo do banco de dados local
database.sqlite

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
.env
.env
.env
.env
.env

# Android (opcional: descomente se não quiser commitar o projeto nativo)
# android/
# android/app/build/
